In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel('/Users/alfia/Desktop/Abhi/data.xlsx')

In [3]:
df.head()

,name,year,Selling_Price,Kms_driven,Fuel_type,Seller_Type,Transmission,owner,engine
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,1248.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,1498.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,3,1497.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,1,1396.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,1,1298.0

In [4]:
df.isnull().sum()

name               0
year               0
Selling_Price      0
Kms_driven         0
Fuel_type          0
Seller_Type        0
Transmission       0
owner              0
engine           221
dtype: int64

In [5]:
df = df.dropna()

In [6]:
df.isnull().sum()

name             0
year             0
Selling_Price    0
Kms_driven       0
Fuel_type        0
Seller_Type      0
Transmission     0
owner            0
engine           0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
lef=LabelEncoder()
les=LabelEncoder()
let=LabelEncoder()

In [9]:
df['FuelType']=lef.fit_transform(df.Fuel_type)

In [10]:
df['SellerType']=les.fit_transform(df.Seller_Type)
df['Transmissions']=let.fit_transform(df.Transmission)

In [11]:
df.head(2)

,name,year,Selling_Price,Kms_driven,Fuel_type,Seller_Type,Transmission,owner,engine,FuelType,SellerType,Transmissions
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,1,1248.0,1,1,1
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,2,1498.0,1,1,1

In [12]:
df.drop(['name','Fuel_type','Seller_Type','Transmission'],axis=1,inplace=True)

In [31]:
df.head()

,year,Selling_Price,Kms_driven,owner,engine,FuelType,SellerType,Transmissions
0,2014,450000,145500,1,1248.0,1,1,1
1,2014,370000,120000,2,1498.0,1,1,1
2,2006,158000,140000,3,1497.0,3,1,1
3,2010,225000,127000,1,1396.0,1,1,1
4,2007,130000,120000,1,1298.0,3,1,1

In [30]:
df[['Selling_Price','Kms_driven','engine']].mean()

Selling_Price    649741.656380
Kms_driven        69192.556469
engine             1458.625016
dtype: float64

In [32]:
df[['owner','year','FuelType','SellerType','Transmissions']].mean()

owner               1.444163
year             2013.982168
FuelType            1.888074
SellerType          0.889844
Transmissions       0.868345
dtype: float64

In [33]:
df.describe()

,year,Selling_Price,Kms_driven,owner,engine,FuelType,SellerType,Transmissions
count,7907.000000,7.907000e+03,7.907000e+03,7907.000000,7907.000000,7907.000000,7907.000000,7907.000000
mean,2013.982168,6.497417e+05,6.919256e+04,1.444163,1458.625016,1.888074,0.889844,0.868345
std,3.866650,8.135565e+05,5.678976e+04,0.706131,503.916303,1.001640,0.397159,0.338137
min,1994.000000,2.999900e+04,1.000000e+00,0.000000,624.000000,0.000000,0.000000,0.000000
25%,2012.000000,2.700000e+05,3.500000e+04,1.000000,1197.000000,1.000000,1.000000,1.000000
50%,2015.000000,4.500000e+05,6.000000e+04,1.000000,1248.000000,1.000000,1.000000,1.000000
75%,2017.000000,6.900000e+05,9.575000e+04,2.000000,1582.000000,3.000000,1.000000,1.000000
max,2020.000000,1.000000e+07,2.360457e+06,4.000000,3604.000000,3.000000,2.000000,1.000000

In [34]:
df.head(2)

,year,Selling_Price,Kms_driven,owner,engine,FuelType,SellerType,Transmissions
0,2014,450000,145500,1,1248.0,1,1,1
1,2014,370000,120000,2,1498.0,1,1,1

In [47]:
x=df.drop('Selling_Price',axis=1)
y=df.Selling_Price

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [50]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [51]:
x_train.shape, y_train.shape

((6325, 7), (6325,))

In [52]:
from sklearn.ensemble import RandomForestRegressor

In [53]:
rf = RandomForestRegressor()

In [54]:
rf.fit(x_train,y_train)

RandomForestRegressor()

In [55]:
y_pred = rf.predict(x_test)

In [56]:
from sklearn.metrics import r2_score,mean_absolute_error, mean_squared_error

In [57]:
r2_score(y_test,y_pred)

0.9597586385342982

In [58]:
mean_squared_error(y_test,y_pred)

30082797412.988937

In [59]:
mean_absolute_error(y_test,y_pred)

89819.64048812221

In [60]:
x

      year  Kms_driven  owner  engine  FuelType  SellerType  Transmissions
0     2014      145500      1  1248.0         1           1              1
1     2014      120000      2  1498.0         1           1              1
2     2006      140000      3  1497.0         3           1              1
3     2010      127000      1  1396.0         1           1              1
4     2007      120000      1  1298.0         3           1              1
...    ...         ...    ...     ...       ...         ...            ...
8123  2013      110000      1  1197.0         3           1              1
8124  2007      119000      4  1493.0         1           1              1
8125  2009      120000      1  1248.0         1           1              1
8126  2013       25000      1  1396.0         1           1              1
8127  2013       25000      1  1396.0         1           1              1

[7907 rows x 7 columns]

In [64]:
x.owner.value_counts()

1    5215
2    2017
3     510
4     160
0       5
Name: owner, dtype: int64

In [61]:
rf.predict([[2014,145500,1,1248.0,1,1,1]])

array([1642023.33333333])

In [62]:
import pickle

In [63]:
pickle.dump(rf,open('model.pkl','wb'))